
tools/revision.h
tools/update-win/7-zip.dll
tools/update-win/7z.dll
tools/update-win/7z.exe
tools/update-win/YAACARS-update-Run.bat
tools/update-win/YAACARS-update.log
tools/update-win/YAACARS-update.zip
